parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/models
        - %currentWorkingDirectory%/commands
        - %currentWorkingDirectory%/migrations
    ignoreErrors:
        - '#Class yii\\base\\BaseObject referenced with incorrect case: yii\\Base\\BaseObject#'
        - '#Trying to get property [^ ]+ of non-object#'
